/*
Theme Name: News Rift
Theme URI: https://themeansar.com/free-themes/newsrift-free-magazine-blog-wordpress-theme/
Author: Themeansar
Author URI: https://themeansar.com
Description: News Rift is a fast, clean, modern-looking Best Responsive News Magazine WordPress theme. The theme is fully widgetized, so users can manage the content by using easy to use widgets. News Rift is suitable for dynamic news, newspapers, magazine, publishers, blogs, editors, online and gaming magazines, newsportals,personal blogs, newspaper, publishing or review siteand any creative website. News Rift is SEO friendly, WPML,Gutenberg, translation and RTL ready. Live preview : https://newsup.themeansar.com/newsrift/ and documentation at https://docs.themeansar.com/docs/newsup/
Version: 0.5
Requires PHP: 7.4
Tested up to: 6.8
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Template: newsup
Text Domain: news-rift
Tags: blog, portfolio, news, grid-Layout, one-column, two-columns, three-columns, flexible-header, left-sidebar, right-sidebar, custom-background, custom-colors, custom-logo, custom-menu, featured-images, footer-widgets, full-width-template, post-formats, rtl-language-support, theme-options, sticky-post, threaded-comments, translation-ready, block-styles, wide-blocks

News Rift WordPress Theme is child theme of Newsup, Copyright 2020 Themeansar
News Rift is distributed under the terms of the GNU General Public License v3

News Rift is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.
*/
:root{
	--headFont: 'Noto Sans JP', sans-serif;
	--bodyFont: 'Noto Sans JP', sans-serif;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    letter-spacing: 0;
}
span.time {
    margin-left: 5px;
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 600;
    line-height: 35px;
}
.mg-headwidget.center .heacent {
    margin-top: unset !important;
}
.mg-headwidget.center .logo-center, .mg-headwidget.center .navbar-header, .mg-headwidget.center .site-branding-text  {
    float: none;
    text-align: center;
}
.mg-headwidget .navbar-wp{
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}
.mg-headwidget .navbar-wp .navbar-nav > li> a{
    padding: 5px 18px;
    border-radius: 4px;
    text-transform: capitalize;
    font-size: 15px;
}
.mg-headwidget.center .navbar-brand {
    float: none;
    display: inline-block;
    margin: 8px auto 0 auto;
    font-weight: bold;
}
.mg-headwidget.center .heacent {
    margin-top: 40px;
    color: #fff;
}
.navbar-wp .dropdown-menu.searchinner .btn {
    border: medium none;
    border-radius: 0 4px 4px 0;
    height: 40px;
    line-height: 25px;
    padding: 5px 15px;
}
.mg-search-box .dropdown-toggle::after {
	display: none;
}
.m-header {
	display: none;
}
.desk-header {
	display: flex;
}
.mobilehomebtn {
    width: 30px;
    text-align: center;
    line-height: 30px;
    height: 30px;
}
.mg-blog-post.md{
	width: 49.8%;
	float: left;
	height: 236px;
}
.mg-blog-post.md .bottom h4 {
    font-size: 26px;
}
.mb1px {
	margin-bottom: 1px;
}
.mg-blog-post.lg, .mg-sidebar .mg-widget, .mg-posts-sec-post, .mg-blog-post-3.minh{
    border-radius: 8px;
}
.navbar-wp .dropdown-menu{
    z-index: 51;
}
.navbar-wp .dropdown-menu > li > a{
    text-transform: capitalize;
    font-size: 14px;
}
.mg-posts-sec-post{
    padding: 15px 0;
    border: 0;
    margin-bottom: 30px;
    box-shadow: 0 5px 20px 0 #2d6ff71f;
}
.mg-posts-modul-6 .mg-post-thumb{
    margin-right: 0;
    border-radius: 8px;
}
.missed-inner, .single-class .mg-blog-post-box, .mg-info-author-block, .mg-featured-slider.p-3.mb-4, .mg-card-box.padding-20{
    border-radius: 8px;
    box-shadow: 0 5px 20px 0 #2d6ff71f;
}
.mg-posts-modul-6 .mg-sec-top-post .mg-blog-category{
    line-height: 0;
}
.mg-blog-post.lg.mins {
	width: 100%;
	height: 222.5px;
	margin-bottom: 30px;
}
.mg-blog-post.lg.mins h4.title {
	font-size: 22px;
}

.post-items ul:not(.post-categories) li a,.post-items ol:not(.post-categories) li a, .post-items table a, strong a, blockquote a, code a, p a, span:not(.author-name):not(.comments-link):not(.posted-on):not(.post-list) a, .navigation.posts-navigation .nav-links a:hover,
.navigation.posts-navigation .nav-links a:hover, #cancel-comment-reply-link, .comment-reply-link {
    text-decoration: underline;
}
.mg-blog-post .bottom h4{
    margin: 0 0 10px 0;
}
.container-fluid {
	padding-right: 100px;
	padding-left: 100px;
}
li.active.home{
    display: none;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    position: absolute;
    margin: -1px;
    padding: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
    word-wrap: normal !important;
}
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}
/* ==================================== Responsive Part =================================== */
@media screen and (max-width: 1200px) and (min-width: 991px) {
	.container-fluid {
		padding-right: 70px;
		padding-left: 70px;
	}
}
@media screen and (max-width: 767px) and (min-width: 240px) {
    .mg-headwidget .navbar-wp .navbar-nav > li> a {
        position: relative;
        border-bottom: 1px solid rgba(225,225,225,0.4);
    }
    .mg-fea-area .mr-bot60 {
        margin-bottom: 30px;
    }
    .mg-blog-post.lg {
        margin-bottom: 30px;
    }
    blockquote::before {
		margin: 6px 0;
	}
}

@media (min-width: 1200px) {
    .mg-blog-post.md .bottom h4 {
        max-height: 65px;
        overflow: hidden;
    }
}

@media (max-width: 991.98px) {
	.container-fluid {
		padding-right: 30px;
		padding-left: 30px;
	}
	.navbar-wp .navbar-nav > li> a i {
    	display: none;
	}
    #menu-primary li.active.home {
        display: none;
    }
    .mg-headwidget .navbar-wp{
        padding-bottom: 0;
    }
    .navbar-header.col-lg-3.text-center{
        padding-bottom: 16px;
    }
    .m-header {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        display: flex;
        justify-content: space-between;
    }
    .desk-header {
        display: none;
    }
  
}

@media (min-width: 508px) and (max-width: 991px){
	blockquote::before {
		width: 10%;
	}
	blockquote p {
		width: 90%;
	}
    .mg-nav-widget-area .site-title a{
		font-size: 30px;
	}
}

@media only screen and (max-width: 640px) {
    .site-branding-text .site-title a {
        font-size: 33px;
    }
}

@media screen and (max-width:991.98px ) and (min-width:767px){
    .wp-block-search__inside-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .pulse.animated .mg-blog-meta .mg-blog-date {
        font-size: 11px;
        margin-right: 10px;
    }
    .pulse.animated .mg-blog-meta a {
        font-size: 11px;
    }
    .pulse.animated .post-edit-link i {
        margin-left: 10px;
    }
}

@media screen and (max-width: 767px) and (min-width: 576px) {
    .mg-fea-area .col-sm-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .mg-fea-area .col-md-3{
        display: flex;
    }
    .mg-fea-area .mg-blog-post.lg.mins{
        margin: 0 5px 30px 0;
    }
    .mg-fea-area .col-md-3.col-sm-6 {
     display: block;
    }
}